.idea
**.idea
**.iml
**target/
*/target/**
/.cache
/.classpath
/.project
/maven-eclipse.xml
/org.kevoree.web.base.iml
**.DS_Store
**~

org.kevoree.talks.adam/org.kevoree.talks.adam.iml

org.kevoree.talks.framework/org.kevoree.talks.framework.iml

org.kevoree.talks.root/org.kevoree.talks.root.iml

org.kevoree.talks.framework/org.kevoree.talks.framework.iml

org.kevoree.talks.ws/org.kevoree.talks.ws.iml

org.kevoree.talks.framework/org.kevoree.talks.framework.iml

org.kevoree.talks.adam/org.kevoree.talks.adam.iml

org.kevoree.talks.root/org.kevoree.talks.root.iml

org.kevoree.talks.ubimob2012/org.kevoree.talks.ubimob2012.iml

org.kevoree.talks.ubimob2012Demo/org.kevoree.talks.ubimob2012Demo.iml

org.kevoree.talks.root/.idea/workspace.xml
