/*@import url(../reset/reset.css);*/

@page {
    /*size: 1024px 640px;*/
    size: 784px 569px;
    margin: 0;
    border: 0;
    padding: 0;

    /*@bottom-center{
    content: "";
    }
    @top-center{
    content: "";
    }
    @bottom-left{
    content: "";
    }
    @bottom-right{
    content: "Page: " counter(page);
    }
    @top-left{
    content: "";
    }
    @top-right{
    content: "";
    }*/
}

* {
    -webkit-print-color-adjust: exact;
}

html {
    width: 784px !important;
    height: 569px !important;
    margin: 0 !important;
}

body {
    width: 784px !important;
    height: 569px !important;
    background: #FFF;
    counter-reset: paging;

    margin: 0 !important;
}
.caption {
    display: none !important;
}

details {
    display: none !important;
}
/*
div.progress {
    display: none !important;
}

div.progress > div {
    display: none !important;
}*/

/*.slide ol,
.slide ul {
    counter-reset: list;
}

.slide ol > li:before {
    counter-increment: list;
    content: counter(list) '.';
}*/

.slide {
    visibility: visible !important;
    display: block !important;

    /*width: 1024px !important;
    height: 640px !important;*/
    width: 784px !important;
    height: 569px !important;
    padding: 71px 80px 0;

    position: relative !important;
    float: left !important;

    opacity: 1 !important;

    page-break-inside: avoid !important;
    page-break-after: always !important;

    margin: 0 !important;
}

.list .slide .next.collapse> *:not(span) {
    display: none;
}