/*@import url(fonts.css);*/
/*@import url(default.css);*/
/*@import url(../../screen/screen.css);*/

body {
    /*counter-reset: paging;*/
    font: 25px/2 'PT Sans', sans-serif;
}

.slide {
    padding: 71px 120px 0;
}
/* List
------------------------------- */
.list {
    padding: 80px 0 40px 100px;
    background: #585A5E url(images/linen.png);
}

/* Caption */
.list .caption {
    margin: 0 0 50px;
    color: #3C3D40;
    text-shadow: 0 1px 1px #8D8E90;
}

.list .caption h1 {
    font: bold 50px/1 'PT Sans Narrow', sans-serif;
}

.list .caption a {
    color: #4B86C2;
    text-shadow: 0 -1px 1px #1F3F60;
    text-decoration: none;
}

.list .caption a:hover {
    color: #5ca4ed;
}

.list .slide:before {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.005), 0 20px 50px rgba(42, 43, 45, 0.6);
}

.list .slide:after {
    color: #3C3D40;
    text-shadow: 0 2px 1px #8D8E90;
    font-weight: bold;
    font-size: 50px;
}

.list .slide:hover:before {
    box-shadow: 0 0 0 10px rgba(42, 43, 45, 0.3), 0 20px 50px rgba(42, 43, 45, 0.6);
}

.list .slide:target:before {
    box-shadow: 0 0 0 1px #305F8D, 0 0 0 10px #3C7CBD, 0 20px 50px rgba(42, 43, 45, 0.6);
}

.list .slide:target:after {
    text-shadow: 0 2px 1px rgba(42, 43, 45, 0.6);
    color: #4B86C2;
}

/* slideMode
------------------------------- */
.slideMode {
    background: #000;
}

.slideMode .slide:after {
    position: absolute;
    left: 80px;
    bottom: 12px;
    color: #CCC;
    line-height: 18px;
    font-size: 25px;
}

/* Next Lists */
.slideMode .slide .next.active,
.slideMode .slide .next.active > :not(.next) {
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.slideMode .slide.cover:after {
    content: '';
}

.slideMode .slide.shout:after {
    content: '';
}

/* Progress */
.slideMode .progress {
    position: absolute;
    right: 118px;
    bottom: 15px;
    left: 118px;
}

.slideMode .progress div {
    width: 0;
    height: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background: rgba(177, 177, 177, 0.4);
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -ms-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
}