.colorOrange {
    color: #DF9D00;
}

.colorRed {
    color: #FF0000;
}

.colorGreen {
    color: #00FF00;
}

.colorBlue {
    color: #0000FF;
}

a:link.thesis-talks,
a:visited.thesis-talks,
a:active.thesis-talks,
a:hover.thesis-talks {
    text-decoration: none;
    color: #DF9D00;
}

p.author {
    text-decoration: none;
    color: #4B86C2;
    text-shadow: 0 -1px 1px #1F3F60;
}
