.colorOrange {
    color: #DF9D00;
}

.colorRed {
    color: #FF0000;
}

.colorGreen {
    color: #00FF00;
}

.colorBlue {
    color: #0000FF;
}

a:link.thesis-talks,
a:visited.thesis-talks,
a:active.thesis-talks,
a:hover.thesis-talks {
    text-decoration: none;
    color: #DF9D00;
}

p.author {
    text-decoration: none;
    color: #4B86C2;
    text-shadow: 0 -1px 1px #1F3F60;
}

span.cite,
.cite span {
    vertical-align: super;
    font-size: 0.8em;
}

p.cite {
    position: absolute;
    bottom: 5px;
    left: 70px;
    font-size: 20px;
}

table.existingsolutions .next.active td,
table.existingsolutions td {
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 1.1;
    text-align: left;
    margin: 20px;
}

table.existingsolutions .next td {
    font-size: 20px;
    border: 0px;
    border-collapse: collapse;
    line-height: 1.1;
    text-align: left;
    margin: 20px;
}

div.fouquet {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 16px;
    color: #DF9D00;
}